html {
		margin: 0 auto;
		width: auto;
		padding: 50px;
	}

	body {
		text-align: center;
		background-color: #FAFAFA;
		font-family: Helvetica, sans-serif;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	th, td {
		padding: 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	th {
		background-color: #CB0000;
		color: white;
	}

	tr:hover{
		background-color:#f5f5f5
		}
